<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">edit user</h1>
            </div>
        </div>
    </div>
</div>

<!-- formulaire avec reactive form fih([formGroup] + (click) + formcontrol) -->
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form [formGroup]='signupForm'>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName='firstName' placeholder="First Name">
                    </div>
                    <div *ngIf="signupForm.controls['firstName'].invalid && 
                    (signupForm.controls['firstName'].touched || signupForm.controls['firstName'].dirty)">
                        <div *ngIf="signupForm.controls['firstName'].errors.minlength">
                            First Name must have minimun 3 characters

                        </div>
                        <div *ngIf="signupForm.controls['firstName'].errors.required" style='color: white;'>
                            First Name is required

                        </div>

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName='lastName' placeholder="Last Name">
                    </div>
                    <div *ngIf="signupForm.controls['lastName'].invalid && 
                    (signupForm.controls['lastName'].touched || signupForm.controls['lastName'].dirty)">
                        <div *ngIf="signupForm.controls['lastName'].errors.minlength">
                            last Name must have minimun 6 characters

                        </div>
                        <div *ngIf="signupForm.controls['lastName'].errors.required" style='color: white;'>
                            last Name is required

                        </div>

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName='email' placeholder="Email">
                    </div>
                    <div *ngIf="signupForm.controls['email'].invalid && 
                    (signupForm.controls['email'].touched || signupForm.controls['email'].dirty)">
                        <div *ngIf="signupForm.controls['email'].errors.email">
                            email error

                        </div>
                        <div *ngIf="signupForm.controls['email'].errors.required" style='color: white;'>
                            email is required

                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName='pwd' placeholder="password">
                    </div>
                    <div *ngIf="signupForm.controls['pwd'].invalid && 
                    (signupForm.controls['pwd'].touched || signupForm.controls['pwd'].dirty)">
                        <div *ngIf="signupForm.controls['pwd'].errors.minlength">
                            Password must have minimun 8 characters

                        </div>
                        <div *ngIf="signupForm.controls['pwd'].errors.required" style='color: white;'>
                            Password is required

                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName='confirmPwd' placeholder="Confirm Password">
                    </div>
                    <div *ngIf="signupForm.controls['confirmPwd'].invalid && 
                    (signupForm.controls['confirmPwd'].touched || signupForm.controls['pwd'].dirty)">
                        <div *ngIf="signupForm.controls['confirmPwd'].errors.minlength">
                            Confirm Password must have minimun 8 characters

                        </div>
                        <div *ngIf="signupForm.controls['confirmPwd'].errors.required" style='color: white;'>
                            Confirm Password is required

                        </div>
                    </div>
                    <!-- pour ajouter une image dans la base de données -->
                    <!-- <button type="button" (click)='filePicker.click()' class="btn btn-success">
                        Sélectionner image</button>
                    <div class="form-group">
                        <input style="visibility: hidden;" type="file" class="form-control" #filePicker (change)='onImageSelected($event)' />
                    </div>
                    <img [src]="imagePreview" height='100px' width='100px'> -->
                    <!-- end ajout image -->

                    <div class="form-group">
                        <button type="submit" (click)='editUser(signupForm.value)' class="btn btn-primary py-3 px-5" value="">edit </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>